.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0 2px 1px rgba(185, 185, 185, 0.2);
  margin: 0;
}

.nav-bar {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 65px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 5px;
}

.nav-button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  color: #4b5563;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color: #111827;
  color: #ffffff;
}